.App {
  min-height: calc(100vh - 80px);
  height: auto;
  width: 100vw;
  padding-top: 80px;
  background-image: url("../assets/text-bg-2.png");
  background-size: 300px auto;
  background-position: top;
  animation: background-scroll 20s linear infinite;
<<<<<<< HEAD
}

@keyframes background-scroll {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 300px;
  }
=======
>>>>>>> c2e5e08b1b42e8b3ddc48abb027b38140190c83f
}

@keyframes background-scroll {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 300px;
  }
}