.Navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 80px;
  width: calc(100vw - 20px);
  padding: 0 10px;
  background: linear-gradient(#171239 0%, #4E044E 86%, #F63ED4 90%, #33F2FF 94%, #A8EB12 96%, #FFFF51 98%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Navbar-image {
  height: 54px;
  width: auto;
  margin-top: 8px;
  margin-right: 10px;
}
