.Navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 80px;
  width: calc(100vw - 20px);
  padding: 0 10px;
  background: linear-gradient(
    #171239 0%,
    #4e044e 86%,
    #f63ed4 90%,
    #33f2ff 94%,
    #a8eb12 96%,
    #ffff51 98%
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Navbar-image {
  height: 54px;
  width: auto;
  margin-top: 8px;
  margin-right: 10px;
}

#Navbar-right-links-container {
  width: calc(100% - 102px - 20px);
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.Navbar-text-container {
  height: 50px;
  margin-right: 10px;
  padding: 0 4px;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.Navbar-text-container p {
  margin: 0;
}

#Navbar-username-container {
  background: linear-gradient(130deg, #61FFE3 0%, #61FFE3 20%, #00A2F4 100%);
}

#Navbar-login-button {
  width: 46px;
  align-items: center;
  background: linear-gradient(130deg, #61FFE3 0%, #61FFE3 20%, #00A2F4 100%);
}