.Navbar {
  height: 80px;
  width: calc(100vw - 20px);
  padding: 0 10px;
  background: linear-gradient(
    #171239 0%,
    #4e044e 86%,
    #f63ed4 90%,
    #33f2ff 94%,
    #a8eb12 96%,
    #ffff51 98%
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Navbar-image {
  height: 54px;
  width: auto;
  margin-top: 8px;
  margin-right: 10px;
}
