.RatingCard {
  width: 100%;
  padding: 16px 10px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.RatingCard-top-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.RatingCard-left-container {
  width: 70%;
  padding: 0;
}

.RatingCard-left-container p {
  margin: 0;
  text-align: left;
}

.RatingCard-address {
  width: 100%;
}

.RatingCard-address p {
  margin: 0 10px;
  width: 100%;
  text-align: left;
}

.RatingCard-right-container {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.rating-circle {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(100, 230, 255, 0.7);
  border-radius: 30px;
  background-color: rgba(240, 250, 255, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.rating-circle p {
  margin: 0;
}