
.form-container {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.form-field {
  width: 300px;
  padding: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form-input {
  height: 30px;
  width: calc(240px - 6px);
  padding-left: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: white;
  border: 2px solid #bd006b;
  border-radius: 5px;
  text-align: center;
}

.form-input:focus {
  border: 2px solid #ffff51;
}

