@keyframes flashAndFade {
  0% {
    opacity: 0;
    background-color: #ffff0a;
    border: 2px solid #ffff0a;
  }
  3% {  
    opacity: 1;
    background-color: #ffff0a;
    border: 2px solid #ffff0a;
  }
  20% {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #bd006b;
  }
  70% {
    opacity: 1;
  }
  100% {
    
    opacity: 0;
  }
}

.message {
  margin: 0;
  max-width: 300px;
}

.banner {

  width: calc(100% - 80px - 20px);
  min-height: 60px;
  padding: 10px;
  border: 2px solid #bd006b;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  opacity: 0;
}

.banner-spaced {
  margin: 20px 0;
}

.banner-flash {
  animation: 5s flashAndFade;
}

.error {
  color: #BD006B;
}